@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/* Home page css */

.App {
  margin: none;
  padding: none;
}

.home-background {
  height: 100vh;
  width: 100vw;
  background-image: url('https://snappygoat.com/b/5ed5d9a950049c50fd82927a8cb68161a3309690');
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  border-left: 3px solid #555358;
  border-right: 3px solid #555358;
  border-bottom: 3px solid #555358;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  font-size: 2vw;
  background: rgba(95, 96, 98, 0.9);
  width: 20%;
  color: #c6ca53;
}

.home {
  margin-top: 2%;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.form-target-box {
  border: 3px solid #555358;
  background: rgba(95, 96, 98, 0.9);
  border-radius: 20px;
  margin-left: 25%;
  display: flex;
  width: 15%;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.form-target-box input {
  margin-top: 10px;
  padding: 2px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
}

.form-target-box button {
  border-radius: 10px;
  border: none;
  padding: 3px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
}

.form-target-box button:hover {
  background-color: #555358;
  color: #c6ca53;
}

.login-box {
  border: 3px solid #555358;
  border-radius: 20px;
  background: rgba(95, 96, 98, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
  width: 20%;
  padding: 2%;
}

.login-box input {
  opacity: 1;
  padding: 2px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
}

.login-box button {
  border-radius: 10px;
  border: none;
  font-family: 'Varela Round', sans-serif;
  padding: 3px;
  font-size: 1.5vw;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #555358;
  color: #c6ca53;
}

/* Nav bar css */
.nav-bar-content {
  height: 10vh;
  background: rgba(95, 96, 98, 0.75);
  display: flex;
  justify-content: flex-start;
}

.nav-bar-username {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-bar-username-container {
  margin-left: 20%;
  background: #dce8e4;
  height: 50%;
  min-width: 10%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #c6ca53;
  cursor: default;
  font-family: 'Varela Round', sans-serif;
}

.nav-bar-logout {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.nav-bar-logout button {
  margin-right: 10vw;
  background: #dce8e4;
  width: 10vw;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #c6ca53;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
}

.nav-bar-logout button:hover {
  background: #555358;
  color: #c6ca53;
}

/* dashboard css */
.main-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/58/5a/93/585a93fe206ef02f67f84bb6a3d7c9c7.jpg');
  background-position: center;
}

.top-bar {
  height: 10%;
  width: 100%;
  background: rgba(95, 96, 98, 0.75);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.admin-bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.admin-bar button {
  height: 6vh;
  background-color: #7b7263;
  border: 3px solid #555358;
  width: 15vw;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  color: #c6ca53;
  font-size: 1.5vw;
}

.admin-bar button:hover {
  background-color: #dce8e4;
  color: #7b7263;
}

.bottom-stuff {
  border: 2px solid #c6ca53;
  border-radius: 20px;
  background-color: rgba(85, 83, 88, .75);
  margin-top: 2%;
  height: 70%;
  width: 80%;
}

.room-main-content {
  height: 100%;
  display: flex;
}


.room-left-content {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.room-left-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.room-left-content button {
  cursor: pointer;
  border: 2px solid #555358;
  border-radius: 10px;
  background-color: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
}

.room-left-content button:hover {
  background: #dce8e4;
  color: #555358;
}

.room-right-content {
  width: 77%;
  padding-left: 10px;
  padding-right: 10px;
}

.room-top-container {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-family: 'Varela Round', sans-serif;
}

.room-top-roomname {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dce8e4;
  border-radius: 20px;
  background: #5f6062;
  color: #dce8e4;
  font-size: 1.5vw;
}

.room-top-nav-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-top-nav-button button {
  height: 6vh;
  border-radius: 20px;
  border: 2px solid #555358;
  background-color: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}

.room-top-nav-button button:hover {
  background-color: #dce8e4;
  color: #7b7263;
}

.room-bottom-container {
  margin-top: 5px;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.room-bottom-devices {
  border: 5px solid #555358;
  border-radius: 10px;
  background: #5f6062;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.room-bottom-devices::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.room-bottom-device-container {
  border-radius: 10px;
  border: 1px solid #dce8e4;
  background: #555358;
  color: #c6ca53;
  margin-bottom: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  font-family: 'Varela Round', sans-serif;
}

.room-device-name-container {
  width: 20%;
}

.room-device-model-container {
  width: 40%;
}

.room-device-button-container {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.room-bottom-device-container button {
  border: none;
  border-radius: 10px;
  background-color: #dce8e4;
  cursor: pointer;
  color: #5f6062;
  font-size: .9vw;
}

.room-bottom-device-container button:hover {
  background-color: #7b7263;
  color: #c6ca53;
}

.room-bottom-selection {
  width: 45%;
}


.room-bottom-selection-show {
  height: 10%;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.room-bottom-selection-show button {
  border: 2px solid #555358;
  border-radius: 20px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}

.room-bottom-selection-show button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.room-bottom-selection-selected {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.room-bottom-selection-selection {
  margin-top: 1%;
  height: 10%;
}

.room-bottom-selection-selection select {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-family: 'Varela Round', sans-serif;
}

.room-bottom-selection-buttons {
  margin-top: 10%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.room-bottom-selection-buttons button {
  cursor: pointer;
  background-color: #7b7263;
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 6px;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
}

.room-bottom-selection-buttons button:hover {
  background-color: #dce8e4;
  color: #7b7263;
}

/* Room wizard css */
.wizard {
  display: flex;
}

.room-wiz-content {
  border: 3px solid #c6ca53;
  border-radius: 20px;
  background-color: rgba(85, 83, 88, .75);
  width: 80%;
  height: 80%;
  margin-top: 5%;
}

.back-button {
  width: 10%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.back-button button {
  border: 2px solid #555358;
  border-radius: 20px;
  padding: 7px;
  font-size: 1vw;
  width: 5vw;
  cursor: pointer;
  background-color: #7b7263;
  color: #c6ca53;
}

.back-button button:hover {
  background-color: #dce8e4;
  color: #7b7263;
}

.room-wiz-main-content {
  width: 85%;
  padding: 2.5%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-wiz-form-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-wiz-form-box input {
  border-radius: 10px;
  border: none;
  padding: 3%;
  width: 100%;
}

.room-wiz-form-box button {
  margin-top: 20%;
  border-radius: 20px;
  border: 2px solid #555358;
  background-color: #7b7263;
  color: #c6ca53;
  padding: 5%;
  width: 100%;
  cursor: pointer;
}

.room-wiz-form-box button:hover {
  background-color: #dce8e4;
  color: #7b7263;
}

/* DeviceDash */
.device-dash {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://img3.stockfresh.com/files/g/grivet/m/74/2353431_stock-photo-stones-background-details.jpg');
  background-position: center;
}

.device-top-bar {
  height: 7vh;
  width: 100%;
  background: rgba(95, 96, 98, 0.75);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.device-main-content {
  margin-top: 3%;
  border: 2px solid #c6ca53;
  border-radius: 20px;
  height: 60%;
  width: 45%;
  background-color: rgba(85, 83, 88, .75);
  padding: 1%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.device-main-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.device-display-info-container {
  border: 2px solid #7b7263;
  background: #555358;
  color: #c6ca53;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.device-display-info-container button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  cursor: pointer;
}

.device-display-info-container button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.device-info-device-container {
  width: 70%;
}

.devicedash-name-container {
  display: flex;
  justify-content: space-between;
}

.device-name-container-model {
  width: 50%;
}

/* Device Wizard */
.main-content-device-wiz {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url('https://img3.stockfresh.com/files/g/grivet/m/74/2353431_stock-photo-stones-background-details.jpg');
  background-position: center;
}

.device-wiz-dash {
  border: 2px solid #c6ca53;
  border-radius: 20px;
  background-color: rgba(85, 83, 88, .75);
  height: 60%;
  margin-top: 5%;
  width: 55%;
  display: flex;
  padding: 2%;
}

.device-wiz-main-content {
  width: 80%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.device-wiz-input {
  width: 40%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.device-wiz-input input {
  border-radius: 10px;
  border: none;
  padding: 1%;
  padding-left: 5%;
  width: 100%;
}

.device-wiz-add-button {
  width: 20%;
}

.device-wiz-add-button button {
  margin-top: 20%;
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.device-wiz-add-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

/* user dash */
.userdash-main-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://img4.goodfon.com/wallpaper/nbig/b/df/kamni-pebbles-texture-galka-white-belye-pliazh-beach-marin-3.jpg');
  background-position: center;
}

.user-dash-display {
  border: 3px solid #c6ca53;
  border-radius: 20px;
  margin-top: 5%;
  padding: 1%;
  height: 55%;
  width: 70%;
  background-color: rgba(85, 83, 88, .75);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.user-dash-display::-webkit-scrollbar {
  display: none;
}

.user-info {
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  background: #5f6062;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.user-info-button  button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.user-info-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.user-info-cont {
  width: 85%;
}

.user-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-link {
  width: 100%;
  height: 100%;
}

.user-info-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
}

.user-info-link:link {
  text-decoration: none;
}

.user-info-link:visited {
  text-decoration: none;
}

.user-info-link:active {
  text-decoration: none;
}

/* user wiz */
.user-wiz-body {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url('https://img4.goodfon.com/wallpaper/nbig/b/df/kamni-pebbles-texture-galka-white-belye-pliazh-beach-marin-3.jpg');
  background-position: center;
}

.user-wiz-content {
  margin-top: 5%;
  border: 3px solid #c6ca53;
  border-radius: 20px;
  height: 60%;
  width: 60%;
  background-color: rgba(85, 83, 88, .75);
  padding: 1%;
  display: flex;
}

.user-wiz-back-button button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
}

.user-wiz-back-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.user-wiz-input-content {
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 1%;
  margin-left: 1%;
  background: #5f6062;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-wiz-input-input {
  margin-top: 2%;
  margin-bottom: 5%;
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-wiz-input-input input {
  border: none;
  border-radius: 10px;
  padding: 1%;
}

.user-wiz-input-button button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.user-wiz-input-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

/* forms */
.form-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('https://i2.nicepik.com/files/53/424/987/pebbles-stones-background-thumb.jpg');
  background-position: center;
}

.form-main-content {
  border: 3px solid #555358;
  border-radius: 20px;
  margin-top: 8%;
  padding: 1%;
  height: 60vh;
  width: 60vw;
  background-color: rgba(85, 83, 88, .75);
  display: flex;
}

.form-back-button-box button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.form-back-button-box button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.form-main-display-box {
  margin-left: 2%;
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-room-name-box {
  border: 3px solid #dce8e4;
  border-radius: 20px;
  padding: 4px;
  background: #5f6062;
  color: #dce8e4;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: default;
}

.form-display-input {
  border: 2px solid #555358;
  border-radius: 20px;
  margin-top: 2%;
  width: 80%;
  height: 80%;
  padding: 2%;
  background: #5f6062;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-device-select {
  height: 10%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.form-device-select select {
  width: 100%;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Varela Round', sans-serif;
}

.form-device-unselected {
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
}

.form-device-input-box {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-device-issue-input {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.form-device-issue-input textarea {
  border: 2px solid #c6ca53;
  border-radius: 20px;
  width: 100%;
  padding: 3%;
  font-family: 'Varela Round', sans-serif;
}

.form-device-issue-input textarea::-webkit-scrollbar {
  display: none;
}

.form-issue-select {
  width: 70%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.form-issue-select select {
  width: 100%;
  border: none;
  padding: 2%;
  border-radius: 20px;
  font-family: 'Varela Round', sans-serif;
}

.form-issue-button-box button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
}

.form-issue-button-box button:hover {
  background: #dce8e4;
  color: #7b7263;
}

@media only screen and (max-width: 1100px) {
  .form-target-box {
    width: 20%;
    margin-left: 20%;
  }  
}

@media only screen and (max-width: 1000px) {
  .title-box {
    width: 50%;
  }
}

@media only screen and (max-width: 430px) {
  .title-box {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .form-target-box {
    margin-left: 6%; 
    border-right: 1px solid #555358;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40%;
  }

  .form-target-box input {
    font-size: 2.5vw;
  }

  .form-target-box button {
    font-size: 2.5vw;
  }

  .login-box {
    margin-left: 0;
    margin-right: 0;
    border-left: 1px solid #555358;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
  }

  .login-box input {
    font-size: 2.5vw;
  }

  .login-box button {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 450px) {
  .form-target-box {
    border-radius: 0;
    border-left: none;
    margin-left: 0;
    width: 45%;
  }

  .login-box {
    margin-right: 0;
    border-right: none;
    border-radius: 0;
    width: 46%;
  }
}

/* History */
.history-body {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/58/5a/93/585a93fe206ef02f67f84bb6a3d7c9c7.jpg');
  background-position: center;
}

.history-main-content {
  margin-top: 2%;
  border: 3px solid #c6ca53;
  border-radius: 20px;
  padding: 2%;
  width: 60%;
  height: 65%;
  background-color: rgba(85, 83, 88, .75);
  display: flex;
}

.history-back-button {
  width: 13%;
}

.history-back-button button {
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 3%;
  background: #7b7263;
  color: #c6ca53;
  cursor: pointer;
}

.history-back-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.history-content-display {
  border: 2px solid #555358;
  border-radius: 20px;
  padding: 2%;
  width: 86%;
  background: #5f6062;
  overflow: hidden;
  overflow-y: scroll;
}

.history-content-display::-webkit-scrollbar {
  display: none;
}

.history-display-box {
  border: 2px solid #555358;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1%;
  background: #dce8e4;
  display: flex;
  font-family: 'Varela Round', sans-serif;
}

.history-issue-date {
  width: 20%;
}

.history-issue-content {
  width: 45%;
}

.history-issue-name {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

/* a quick fix for dashboard that i don't want to stick alllllll the way up top */
.room-select-display {
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  margin-top: 2%;
  font-size: 1.75vw;
}

/* user rooms display */
.user-rooms-body {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url('https://img4.goodfon.com/wallpaper/nbig/b/df/kamni-pebbles-texture-galka-white-belye-pliazh-beach-marin-3.jpg');
  background-position: center;
}

.user-rooms-main-content {
  border: 3px solid #c6ca53;
  border-radius: 20px;
  margin-top: 5%;
  padding: 2%;
  width: 60%;
  height: 65%;
  background-color: rgba(85, 83, 88, .75);
  display: flex;
}

.user-rooms-back-button {
  width: 13%;
}

.user-rooms-back-button button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
}

.user-rooms-back-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.user-rooms-room-display {
  border: 2px solid #555358;
  border-radius: 20px;
  padding: 2%;
  width: 85%;
  background: #5f6062;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.user-rooms-room-display::-webkit-scrollbar {
  display: none;
}

.user-rooms-room {
  border: 2px solid #c6ca53;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1%;
  background: #555358;;
  display: flex;
  justify-content: space-between;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
}

.user-rooms-button-box {
  width: 17%;
}

.user-rooms-room button {
  border: 2px solid #555358;
  border-radius: 10px;
  padding: 2%;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.user-rooms-room button:hover {
  background: #dce8e4;
  color: #7b7263;
}

/* room display */
.room-dash-body {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/58/5a/93/585a93fe206ef02f67f84bb6a3d7c9c7.jpg');
  background-position: center;
}

.room-dash-main-content {
  border: 3px solid #c6ca53;
  border-radius: 20px;
  padding: 2%;
  margin-top: 5%;
  width: 60vw;
  height: 65%;
  background-color: rgba(85, 83, 88, .75);
  display: flex;
}

.room-dash-back-button {
  width: 20%;
}

.room-dash-back-button button {
  border: 2px solid #555358;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5vw;
  cursor: pointer;
}

.room-dash-back-button button:hover {
  background: #dce8e4;
  color: #7b7263;
}

.room-dash-room-display {
  border: 2px solid #555358;
  border-radius: 20px;
  padding: 2%;
  background: #5f6062;
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.room-dash-room-display::-webkit-scrollbar {
  display: none;
}

.room-dash-rooms {
  border: 2px solid #c6ca53;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1%;
  background: #555358;
  display: flex;
  justify-content: space-between;
  color: #c6ca53;
}

.room-dash-rooms button {
  border: 2px solid #5f6062;
  border-radius: 10px;
  background: #7b7263;
  color: #c6ca53;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor: pointer;
}

.room-dash-rooms button:hover {
  background: #dce8e4;
  color: #7b7263;
}